{% extends 'main.html' %}

{% block content %}

<style>
    .about {
        background-color: #f2f2f2;
        margin-top: 85px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-top: 1px;
    }


    .about h2 {
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }


    .about p {
        font-size: 16px;
        line-height: 1.5;
    }
</style>




<div class="about">
    <section id="about">
        <h2>About</h2>
        <p>Machine Learning models used SVM , Naive Bayes
            , Decision Tree , Random Forest .You can adjust the width
            and other styling properties in the CSS to match your
            design requirements. This example will display the dropdown
            box in a single line and
            show the dropdown list below the box when clicked</p>
    </section>
</div>



{% endblock %}